.conteiner {
    width: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 99%;
    display: flex;
    background-color: #2d9efa;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }
  .logo img {
    width: 100px;
    height: 50px;
  }
form .input-searh {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
input {
    border: 1px solid gray;
    height: 40px;
    width: 90%;
    padding: 10 px 30px;
    vertical-align: bottom;
    box-sizing: border-box;
        border-radius: 10px;
}
img.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    opacity: 0.3;
    
    /* Зависит от размера изображения */
    @media (max-width: 640px)
    {
      img.bg {
        left: 50%;
        margin-left: -320px;
      }
    }
  }
.text-img {
    position: relative;
    text-align: center;
    color: #ffae14;
}
.tur {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
   text-align: center;
font-size: 40px;
font-weight: bold;
line-height: normal;
}
.tur1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
   text-align: center;
font-size: 40px;
font-weight: bold;
line-height: normal;
}
.more {
       border: none;
    border-radius: 15px;
    width:150px;
    height:40px;
    text-align: center;

     } 
   button {
    width: 100px;
    height: 40px;
    background-color: #ffae14;
    border: none;
    border-radius: 10px;
}
  button:hover {
    background-color: #d2a043;
  }
.sale {
font-size: 40px;
font-weight: bold;
line-height: normal;
text-align: center;
color: #ffae14;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
    max-width: 100%;
    border-radius: 15px;
}
@media (min-width: 420px) {
img {
   max-width: 48%;
   }
}
   @media (min-width: 760px) {
    img {
        max-width: 100%;
    }
       }
.actual {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.choose {
    position: relative;
left: 50%;
transform: translate(-50%, 0);
padding: 15px 32px;
width: 200px; 
height:50px;
font-size: 18px;
}
.company {
   background-color: #2d9efa;
    padding: 15px 32px;
   }
.name {
    text-align: center;
}
.about {
  display: flex;
justify-content: space-between;  
}

.about-text {
    margin-left: 20px;
    align-items: center;
}
.select {
    text-align: center;
    padding: 32px;
    margin: 0;
}

.favourites-hotel {
    display: flex;
    justify-content: space-around;  
    padding-bottom: 50px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding-bottom: 1rem;
    }
.footer-text-left {
    display: flex;
    align-items: center;
    width: 30%;
    display: flex;
    justify-content: space-between;
    }
.footer-text-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.footer .footer-text-right li {
    padding-right: 1rem;
    }
.footer .footer-text-right li {
    padding-left: 1rem;
    }
li {
    list-style-type: none;
    }
.footer-text-left img {
    width: 100px;
    height: 50px;
    }
    @media (max-width: 980px) {
        .conteiner {
            width: 960p;
        }
    }
